@import 'tailwindcss';

:root {
  font-family:
    'Inter',
    system-ui,
    -apple-system,
    sans-serif;
}

body {
  background-color: #0c0f14;
  color: #f8fafc;
  margin: 0;
  width: 400px;
  height: 580px;
  overflow: hidden;
}

#app {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

@custom-variant dark (&:where(.dark, .dark *));

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.8s ease-in-out;
}
